html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img, input {
  margin: 0;
  padding: 0;
}
img, input, button {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
ul, ol {
  list-style: none;
}
select, input {
  vertical-align: middle;
}
textarea {
  resize: none;
}
img {
  border: 0;
  vertical-align: middle;
  display: block;
}
table {
  border-collapse: collapse;
}
.clearfix {
  &::before {
    content: "";
    display: table;
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
*{box-sizing: border-box;}
a {
  color: #666;
  text-decoration: none;
}
i,em {
  font-style: normal;
  text-decoration: none;
}
.container{
  padding: 0;
}
.cont{
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float:left;
}

.fr {
  float:right;
}

$mainColor: #333;
$lineColor: #666;

#feihu{
  min-width:1200px;
}

#header{
    background-color: #EAEAEA;border-bottom:#ccc;text-decoration: none;
    p{
        height: 30px;line-height:30px;color:#666;float:left;font-size:12px;
        a{display: inline-block;color:#0066FF;}
    }
    ul{
      li{
          float:left;
          font-size:12px;
          a{display: block;width: 80px;height: 30px;line-height: 30px;color:$mainColor;text-align:center;}
        }
      .phone{
        padding-left: 18px;
        background:url(../img/idx_icon.png) no-repeat -10px 10px;
      }  
      .account{
        position:relative;
        background:url(../img/idx_icon.png) no-repeat 70px 12px;
        .dragdown1{
          position:absolute;
          top: 30px;
          left: -1px;
          display: block;
          border:1px solid #CCC;
          border-top:0 none;
          display: none;
        } 
      }
      .account:hover{
        background-color: #FFF;
        border-left:1px solid #CCC; 
        border-right:1px solid #CCC;
      }
      .account:hover .dragdown1{
        display: block;
      }
      .collect{
        position:relative;
        .dragdown2{
          position:absolute;
          top: 30px;
          left: -1px;
          display: block;
          border:1px solid #CCC;
          border-top:0 none;
          display: none;
        }
      }
      .collect:hover{
        background-color: #FFF;
        border-left:1px solid #CCC; 
        border-right:1px solid #CCC;
      }
      .collect:hover .dragdown2{
        display: block;
      }  
    }
}

#search{
  h1{ height: 100px;background: url(../img/logo.png) no-repeat  center 15px;}
  .sear{
    width: 430px;border:5px solid #E9E9E9; 
    margin-top: 38px;
    input{
      height: 28px;border:1px solid #C7012C;border-radius:0;
    }
    span{
      background-color: #C7012C;border:1px solid #C7012C;color:$mainColor;border-radius:0;
    }
  }
}

#nav{
  background-color: #C7012C;
  position:relative;
  .cont{
    background-color: #C7012C;
    border-radius:5px;
    .bar{
      position:relative;
      .myNav{
        li{
          float:left;
          a{
            display: block;color:#000;padding:0 15px;text-align:center;line-height: 40px;
            color:#fff;
          }
        }
        li:hover a{
          color: #FDCA30;
          text-decoration:none;
        }
        li:first-child{width: 190px;}
        li:first-child:hover a{
          color:#fff;
        }
      }
      .navbtn{
        width: 217px;
        height: 27px;
        line-height: 27px;
        margin: 6px 18px 0 0;
        background: url(../img/listnav.jpg) 0 -40px;
        li{
          float:left;
          a{
            display: block;
            width: 60px;
            padding-left: 10px;
            color: #fff;
          }
          .Mycart{
            width: 150px;
            height: 25px;
            padding-left: 45px;
            color: #333;
            position: relative;
            em{
              color: #C8012C;
              font-weight: bold;
              margin: 0 2px;
            }
            i{
              display: inline-block;
              padding-left: 10px;
              vertical-align:20%;
            }
          }

        }
      }
      .cart{
        position: absolute;
        top: 33px;
        width: 210px;
        right: 20px;
        padding: 0 0 5px;
        border: 1px solid #C7012C;
        background: #fff;
        overflow: hidden;
        z-index:1000;
        display: none;
        .myCart{
          background: #ffffcc;
          p{
            height: 16px;
            line-height: 16px;
            font-size:12px;
            overflow: hidden;
          }
          img{
            display: block;
            width: 50px;
            height: 50px;
            float:left;
            margin-top: 4px;
          }
          .txt{
            padding: 6px 15px 0px 10px;
            width: 150px;
          }
          .pri{
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            font-weight: bold;
            margin-left: 34px;
            color: #c7012c;
            text-align:right;
          }
          .del{
            text-align:right;
            color: #999;
            text-decoration: underline;
          }
        }
        .count{
          border-top: 1px dotted #cccccc;
          padding: 5px 10px;
          font-size:12px;
          span{
            color: #c7012c;
            font-weight: bold;
          }
        }
        .turn{
          margin-left: 50px;
          background-color: #C7012C;
          a{
              color:#fff;
            } 
        }
      }
    }
  }

}
#footer{
  
  .link{
  padding-top: 65px;
    ul{
      padding-left: 144px;
      li{
        p{display:inline-block;width: 120px;text-align:right;color:#999;font-size:12px;line-height:24px;}
        span{color:$mainColor;}
        i{color:#FF6600;}
      }
    }
    dl{
      width: 140px;border-left:1px solid #DDD;padding-left: 14px;box-sizing:border-box;
      dt{
        font-size:14px;line-height:24px;color:#000;
      }
      dd{
        font-size:12px;line-height:20px;color:#999;
      }
    }
  }
  .copyRight{
      padding-left: 120px;line-height: 22px;font-size:12px;
    ul{
      padding-left: 0;
      li{
        float:left;padding: 20px 20px 0 0;
        a{
          display: inline-block;color:$mainColor;
        }
      }
    }
    p{color:#999;}
  }
}