$mainColor: #333;
$lineColor: #666;

#nav{
  .cont{
    .myNav li:hover a{
        background-color: $mainColor;
    }
    .myNav li:first-child:hover a{
        background-color: #C7012C;
    }    
    .menu{
      position:absolute;
      top: 40px;
      left:2.5%;
      z-index:100;
      background: #f6f6f6;
      li{
        a{
          display: block;
          height: 32px;
          line-height: 32px;
          width: 190px;
          text-align:center;
        }
      }
      li:nth-child(1) a{
        background: url(../img/tbut15.png) no-repeat 34px center;
      }
      li:nth-child(2) a{
        background: url(../img/tbut9.png) no-repeat 34px center;
      }
      li:nth-child(3) a{
        background: url(../img/tbut14.png) no-repeat 34px center;
      }
      li:nth-child(4) a{
        background: url(../img/tbut4.png) no-repeat 34px center;
      }
      li:nth-child(5) a{
        background: url(../img/tbut5.png) no-repeat 34px center;
      }
      li:nth-child(6) a{
        background: url(../img/tbut6.png) no-repeat 34px center;
      }
      li:nth-child(7) a{
        background: url(../img/tbut7.png) no-repeat 34px center;
      }
      li:nth-child(8) a{
        background: url(../img/tbut8.png) no-repeat 34px center;
      }
      li:nth-child(9) a{
        background: url(../img/tbut3.png) no-repeat 34px center;
      }
      li:nth-child(10) a{
        background: url(../img/tbut2.png) no-repeat 34px center;
      }
      li:nth-child(11) a{
        background: url(../img/tbut10.png) no-repeat 34px center;
      }
      li:nth-child(12) a{
        background: url(../img/tbut11.png) no-repeat 34px center;
      }
      li:nth-child(13) a{
        background: url(../img/tbut12.png) no-repeat 34px center;
      }
      li:nth-child(14) a{
        background: url(../img/tbut13.png) no-repeat 34px center;
      }
      li:nth-child(15) a{
        background: url(../img/tbut1.png) no-repeat 34px center;
      }
      li:hover a{
        color: #ff9900;
        background-color: #FFF;
        text-decoration:none;
      } 
    }
    .item{
      display: none;
      height: 200px;
      width: 300px;
      background-color: #FFF;
      padding:30px;
      position:absolute;
      left: 17.6%;
      z-index:100;
      span{
        display:inline-block;
        width: 80px;
        height: 30px;
        text-align:center;
        line-height: 30px;
        color: #ff9900;
        border:1px solid #ddd;
        margin:0 10px 10px 0;
        cursor:pointer; 
      }
    }
    .news{
      width: 228px;
      height: 480px;
      position:absolute;
      top: 40px;
      right:40px;
      overflow:hidden;
      z-index:100;
      p{
        background-color: #FFF;
        span{
          display: inline-block;
          height: 40px;
          width: 126px;
          font-size:16px;
          line-height:40px;
          padding-left: 22px;
          margin-left: 80px;
          background: url("../img/gonggao.png") no-repeat 0 center;
        } 
      }
      .gonggao{
        background-color: #EAF3DD;padding:18px 10px;
        li{
          color:#FF0000;
          a{display: inline-block;
            font-size:12px;
            line-height:20px;
          }
        }  
      }
    }
  }
}
#banner{
  .carousel {
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      height: 480px;
      li {
        width: 100%;
        height: 480px;
        list-style: none;
        float:left;
        position: absolute;
        top: 0;
        left: 0;
        display: none;  
      }
      li:nth-child(1){
        background: url(../img/banner_01.jpg) no-repeat center 0;
      }
      li:nth-child(2){
        background: url(../img/banner_02.jpg) no-repeat center 0;
      }
      li:nth-child(3){
        background: url(../img/banner_03.jpg) no-repeat center 0;
      }
      li:nth-child(4){
        background: url(../img/banner_04.jpg) no-repeat center 0;
      }
      li:nth-child(5){
        background: url(../img/banner_05.jpg) no-repeat center 0;
      }
    }
  }
  #item1 {
    z-index: 3;
  }
  /*向左向右的按钮*/
  .left,.right {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 60px;
    border: none;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0.5;
    opacity: 0.5;
    cursor: pointer;
  }
  .left {
    left: 17.6%;
  }
  .right {
    right: 268px;
  }
  .dot {
    bottom: 0;
    height: 30px;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    text-align: center;
    z-index: 10;
    span {
      display: inline-block;
      width: 42px;
      height: 12px;
      background: #445D21;
      margin: 0 15px 0 0;
      cursor: pointer;
    }
    .active {
      background: #C45E22 !important;
    }
  }
}
#miaosha{
  background-color: #FAFAFA;
  ul{
    padding: 25px 0 0 0;
    li{
      float:left;
      height: 267px;
      width: 198px;
      padding: 10px 6px;
      box-sizing:border-box;
      margin-right: 2px;
      img{
        width: 170px;
        height: 170px;
        margin-left: 7px;
      }
      p{
        line-height: 22px;
        text-align:center;
        font-weight:bold;
        padding: 14px 0;
      }
      span{
        display: block;
        padding: 4px;
        font-size:18px;
        color:#fff;
        background: url(../img/but-msz.png) no-repeat;
        del{
          font-size:12px;
        }
        button{
          background-color: transparent;
        }

      }
    }
    li:nth-child(even){
      background-color: #CBCBCB;
    }
    .msTime{
      position:relative;
      background-image: url("../img/miaosha_bj.jpg");
      span{
        font-size: 24px;
        font-family: "Microsoft YaHei";
        color: #fff;
        position: absolute;
        top: 171px;
        
        background-color: transparent;
        border:0 none;
      }
    }
  }
}
#main{
  background-color: #FAFAFA;
  .tit{
    border-bottom:2px solid $mainColor;padding-top: 28px;
    h2{
      line-height: 44px;
      font-size:24px;
    }
    ul{
      li{float:left;
        a{
          display: block;
          font-size:12px;
          line-height: 32px;
          padding-left: 22px;
          padding-top: 12px 
        }
      }
    }
  }
  .leftSide,.rightSid{
    ul{
      width: 600px;
      height: 416px;
      overflow: hidden;
      li{
        float:left;
        text-align:center;
      }
    }
  }
  .leftSide{
    ul{
      li{
        border-left:1px solid #F5F5F5;
      }
    }
  }
  .rightSid{
    background-color: #FFF;
    ul{
      li{
          height: 208px;
          width: 200px;
          padding: 6px 20px;
          border-left:1px solid #F5F5F5;
          border-bottom:1px solid #F5F5F5;
          img{
            width: 150px;
            height: 157px;
          }
          p{
            font-size:12px;
            line-height: 24px;
            
          }
          span{
            display: block
            ;color:red;font-size:14px;line-height:18px;
          }
      }
    }
  }
  .bot{
    ul{
      li{
        float:left;
        a{
          display: block;
          width: 150px;
          height: 70px;
        }
      }
    }
  }
}