$mainColor: #333;
$lineColor: #666;

#search{
  h1{ height: 100px;background: url(../img/logo.png) no-repeat  center 15px;}
  .sear{
    width: 430px;padding-top: 38px;
    input{
      height: 28px;border:1px solid #FFC400;border-radius:0;
    }
    span{
      background-color: #FFC400;border:1px solid #FFC400;color:$mainColor;border-radius:0;
    }
  }
}
#nav{
  background-color: #FFC400;
  position:relative;
  .myNav{
    li{
      float:left;
      a{
        display: block;color:#000;padding:0 15px;text-align:center;line-height: 40px;
      }
    }
    li:hover a{
      background: $mainColor;
      color: #ffffff;
      text-decoration:none;
    }
    li:first-child{width: 190px;}
    li:first-child:hover a{background-color: #FFC400;color:#000;}
  }

  button:nth-child(1){
    background-color: #FFF;width: 120px;
  }
  button:nth-child(2){
    background-color: #FFDE00;width: 68px;
  }
  .menu{
    position:absolute;
    top: 40px;
    z-index:100;
    background-color: #FFF;
    li{
      a{
        display: block;
        height: 32px;
        width: 190px;
        text-align:center;
      }
    }
    li:nth-child(1){
      background: url(../img/tbut1.png) no-repeat 36px 0;
    }
    li:nth-child(2){
      background: url(../img/tbut2.png) no-repeat 36px 0;
    }
    li:nth-child(3){
      background: url(../img/tbut3.png) no-repeat 36px 0;
    }
    li:nth-child(4){
      background: url(../img/tbut4.png) no-repeat 36px 0;
    }
    li:nth-child(5){
      background: url(../img/tbut5.png) no-repeat 36px 0;
    }
    li:nth-child(6){
      background: url(../img/tbut6.png) no-repeat 36px 0;
    }
    li:nth-child(7){
      background: url(../img/tbut7.png) no-repeat 36px 0;
    }
    li:nth-child(8){
      background: url(../img/tbut8.png) no-repeat 36px 0;
    }
    li:nth-child(9){
      background: url(../img/tbut9.png) no-repeat 36px 0;
    }
    li:nth-child(10){
      background: url(../img/tbut10.png) no-repeat 36px 0;
    }
    li:nth-child(11){
      background: url(../img/tbut11.png) no-repeat 36px 0;
    }
    li:nth-child(12){
      background: url(../img/tbut12.png) no-repeat 36px 0;
    }
    li:nth-child(13){
      background: url(../img/tbut13.png) no-repeat 36px 0;
    }
    li:nth-child(14){
      background: url(../img/tbut14.png) no-repeat 36px 0;
    }
    li:nth-child(15){
      background: url(../img/tbut15.png) no-repeat 36px 0;
    }
  }
  .news{
    width: 228px;
    height: 480px;
    margin-right: 18px;
    position:absolute;
    top: 0px;
    right:0;
    z-index:100;
    .navbtn{
    padding: 8px 0 0 18px;
    height: 40px;
    width: 228px;
    background-color: #FFC400;
    .myBtn{
      height: 24px;padding-top: 2px;
      font-size:14px;
      span{color:red;}
    }
  }
    p{
      background-color: #FFF;
      span{
        display: inline-block;
        height: 40px;
        width: 126px;
        font-size:16px;
        line-height:40px;
        padding-left: 22px;
        margin-left: 80px;
        background: url("../img/gonggao.png") no-repeat 0 center;
      } 
    }
    .gonggao{
      background-color: #EAF3DD;padding:20px;
      li{
        a{display: block;
          font-size:12px;
          line-height:20px;
          color:#FF0000;
        }
        li:nth-child(4) a{
          color:$mainColor;
        }
        li:nth-child(5) a{
          color:$mainColor;
        }
      }  
    }
  }
}
#banner{
  .carousel {
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      height: 480px;
      li {
        width: 100%;
        height: 480px;
        list-style: none;
        float:left;
        position: absolute;
        top: 0;
        left: 0;
        display: none;  
      }
      li:nth-child(1){
        background: url(../img/banner_01.jpg) no-repeat center 0;
      }
      li:nth-child(2){
        background: url(../img/banner_02.jpg) no-repeat center 0;
      }
      li:nth-child(3){
        background: url(../img/banner_03.jpg) no-repeat center 0;
      }
      li:nth-child(4){
        background: url(../img/banner_04.jpg) no-repeat center 0;
      }
      li:nth-child(5){
        background: url(../img/banner_05.jpg) no-repeat center 0;
      }
    }
  }
  #item1 {
    z-index: 3;
  }
  /*向左向右的按钮*/
  .left,.right {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 60px;
    border: none;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 0.5;
    opacity: 0.5;
    cursor: pointer;
  }
  .left {
    left: 17.6%;
  }
  .right {
    right: 246px;
  }
  .dot {
    bottom: 0;
    height: 30px;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    text-align: center;
    z-index: 10;
    span {
      display: inline-block;
      width: 42px;
      height: 12px;
      background: #445D21;
      margin: 0 15px 0 0;
      cursor: pointer;
    }
    .active {
      background: #C45E22 !important;
    }
  }
}
#miaosha{
  background-color: #FAFAFA;
  ul{
    padding: 25px 0 0 0;
    li{
      float:left;
      height: 267px;
      width: 198px;
      padding: 10px 6px;
      box-sizing:border-box;
      margin-right: 2px;
      img{
        width: 170px;
        height: 170px;
        margin-left: 7px;
      }
      p{
        line-height: 22px;
        text-align:center;
        font-weight:bold;
        padding: 14px 0;
      }
      span{
        display: block;
        padding: 4px;
        font-size:18px;
        color:#fff;
        background: url(../img/but-msz.png) no-repeat;
        del{
          font-size:12px;
        }
        button{
          background-color: transparent;
        }

      }
    }
    li:nth-child(even){
      background-color: #CBCBCB;
    }
    .msTime{
      position:relative;
      background-image: url("../img/miaosha_bj.jpg");
      span{
        font-size: 24px;
        font-family: "Microsoft YaHei";
        color: #fff;
        position: absolute;
        top: 171px;
        
        background-color: transparent;
        border:0 none;
      }
    }
  }
}
#main{
  background-color: #FAFAFA;
  .tit{
    border-bottom:2px solid $mainColor;padding-top: 28px;
    h2{
      line-height: 44px;
      font-size:24px;
    }
    ul{
      li{float:left;
        a{
          display: block;
          font-size:12px;
          line-height: 32px;
          padding-left: 22px;
          padding-top: 12px 
        }
      }
    }
  }
  .leftSide,.rightSid{
    ul{
      width: 600px;
      height: 416px;
      overflow: hidden;
      li{
        float:left;
        a{
          display: block;
          text-align:center;
        }
      }
    }
  }
  .leftSide{
    ul{
      li{
        a{border-left:1px solid #F5F5F5;}
      }
    }
  }
  .rightSid{
    background-color: #FFF;
    ul{
      li{
        a{
          height: 208px;
          padding: 6px 20px;
          border-left:1px solid #F5F5F5;
          border-bottom:1px solid #F5F5F5;
          img{
            width: 150px;
            height: 157px;
          }
          p{
            font-size:12px;
            line-height: 24px;
            
          }
          span{
            display: block
            ;color:red;font-size:14px;line-height:18px;
          }
        }
      }
    }
  }
  .bot{
    ul{
      li{
        float:left;
        a{
          display: block;
          width: 150px;
          height: 70px;
        }
      }
    }
  }
}