html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img, input {
  margin: 0;
  padding: 0;
}

img, input, button {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

select, input {
  vertical-align: middle;
}

textarea {
  resize: none;
}

img {
  border: 0;
  vertical-align: middle;
  display: block;
}

table {
  border-collapse: collapse;
}

.clearfix::before {
  content: "";
  display: table;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

a {
  color: #666;
  text-decoration: none;
}

i, em {
  font-style: normal;
  text-decoration: none;
}

.container {
  padding: 0;
}

.cont {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#feihu {
  min-width: 1200px;
}

#header {
  background-color: #EAEAEA;
  border-bottom: #ccc;
  text-decoration: none;
}

#header p {
  height: 30px;
  line-height: 30px;
  color: #666;
  float: left;
  font-size: 12px;
}

#header p a {
  display: inline-block;
  color: #0066FF;
}

#header ul li {
  float: left;
  font-size: 12px;
}

#header ul li a {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-align: center;
}

#header ul .phone {
  padding-left: 18px;
  background: url(../img/idx_icon.png) no-repeat -10px 10px;
}

#header ul .account {
  position: relative;
  background: url(../img/idx_icon.png) no-repeat 70px 12px;
}

#header ul .account .dragdown1 {
  position: absolute;
  top: 30px;
  left: -1px;
  display: block;
  border: 1px solid #CCC;
  border-top: 0 none;
  display: none;
}

#header ul .account:hover {
  background-color: #FFF;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#header ul .account:hover .dragdown1 {
  display: block;
}

#header ul .collect {
  position: relative;
}

#header ul .collect .dragdown2 {
  position: absolute;
  top: 30px;
  left: -1px;
  display: block;
  border: 1px solid #CCC;
  border-top: 0 none;
  display: none;
}

#header ul .collect:hover {
  background-color: #FFF;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#header ul .collect:hover .dragdown2 {
  display: block;
}

#search h1 {
  height: 100px;
  background: url(../img/logo.png) no-repeat center 15px;
}

#search .sear {
  width: 430px;
  border: 5px solid #E9E9E9;
  margin-top: 38px;
}

#search .sear input {
  height: 28px;
  border: 1px solid #C7012C;
  border-radius: 0;
}

#search .sear span {
  background-color: #C7012C;
  border: 1px solid #C7012C;
  color: #333;
  border-radius: 0;
}

#nav {
  background-color: #C7012C;
  position: relative;
}

#nav .cont {
  background-color: #C7012C;
  border-radius: 5px;
}

#nav .cont .bar {
  position: relative;
}

#nav .cont .bar .myNav li {
  float: left;
}

#nav .cont .bar .myNav li a {
  display: block;
  color: #000;
  padding: 0 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

#nav .cont .bar .myNav li:hover a {
  color: #FDCA30;
  text-decoration: none;
}

#nav .cont .bar .myNav li:first-child {
  width: 190px;
}

#nav .cont .bar .myNav li:first-child:hover a {
  color: #fff;
}

#nav .cont .bar .navbtn {
  width: 217px;
  height: 27px;
  line-height: 27px;
  margin: 6px 18px 0 0;
  background: url(../img/listnav.jpg) 0 -40px;
}

#nav .cont .bar .navbtn li {
  float: left;
}

#nav .cont .bar .navbtn li a {
  display: block;
  width: 60px;
  padding-left: 10px;
  color: #fff;
}

#nav .cont .bar .navbtn li .Mycart {
  width: 150px;
  height: 25px;
  padding-left: 45px;
  color: #333;
  position: relative;
}

#nav .cont .bar .navbtn li .Mycart em {
  color: #C8012C;
  font-weight: bold;
  margin: 0 2px;
}

#nav .cont .bar .navbtn li .Mycart i {
  display: inline-block;
  padding-left: 10px;
  vertical-align: 20%;
}

#nav .cont .bar .cart {
  position: absolute;
  top: 33px;
  width: 210px;
  right: 20px;
  padding: 0 0 5px;
  border: 1px solid #C7012C;
  background: #fff;
  overflow: hidden;
  z-index: 1000;
  display: none;
}

#nav .cont .bar .cart .myCart {
  background: #ffffcc;
}

#nav .cont .bar .cart .myCart p {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  overflow: hidden;
}

#nav .cont .bar .cart .myCart img {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 4px;
}

#nav .cont .bar .cart .myCart .txt {
  padding: 6px 15px 0px 10px;
  width: 150px;
}

#nav .cont .bar .cart .myCart .pri {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  margin-left: 34px;
  color: #c7012c;
  text-align: right;
}

#nav .cont .bar .cart .myCart .del {
  text-align: right;
  color: #999;
  text-decoration: underline;
}

#nav .cont .bar .cart .count {
  border-top: 1px dotted #cccccc;
  padding: 5px 10px;
  font-size: 12px;
}

#nav .cont .bar .cart .count span {
  color: #c7012c;
  font-weight: bold;
}

#nav .cont .bar .cart .turn {
  margin-left: 50px;
  background-color: #C7012C;
}

#nav .cont .bar .cart .turn a {
  color: #fff;
}

#footer .link {
  padding-top: 65px;
}

#footer .link ul {
  padding-left: 144px;
}

#footer .link ul li p {
  display: inline-block;
  width: 120px;
  text-align: right;
  color: #999;
  font-size: 12px;
  line-height: 24px;
}

#footer .link ul li span {
  color: #333;
}

#footer .link ul li i {
  color: #FF6600;
}

#footer .link dl {
  width: 140px;
  border-left: 1px solid #DDD;
  padding-left: 14px;
  box-sizing: border-box;
}

#footer .link dl dt {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

#footer .link dl dd {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

#footer .copyRight {
  padding-left: 120px;
  line-height: 22px;
  font-size: 12px;
}

#footer .copyRight ul {
  padding-left: 0;
}

#footer .copyRight ul li {
  float: left;
  padding: 20px 20px 0 0;
}

#footer .copyRight ul li a {
  display: inline-block;
  color: #333;
}

#footer .copyRight p {
  color: #999;
}
