#search h1 {
  height: 100px;
  background: url(../img/logo.png) no-repeat center 15px;
}

#search .sear {
  width: 430px;
  border: 5px solid #E9E9E9;
  margin-top: 38px;
}

#search .sear input {
  height: 28px;
  border: 1px solid #C7012C;
  border-radius: 0;
}

#search .sear span {
  background-color: #C7012C;
  border: 1px solid #C7012C;
  color: #333;
  border-radius: 0;
}

#nav .cont {
  background-color: #C7012C;
  border-radius: 5px;
}

#nav .cont .myNav li {
  float: left;
}

#nav .cont .myNav li a {
  display: block;
  color: #000;
  padding: 0 15px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

#nav .cont .myNav li:hover a {
  color: #FDCA30;
  text-decoration: none;
}

#nav .cont .myNav li:first-child {
  width: 190px;
}

#nav .cont .myNav li:first-child:hover a {
  color: #fff;
}

#nav .cont .navbtn {
  width: 217px;
  height: 27px;
  line-height: 27px;
  margin: 6px 18px 0 0;
  background: url(../img/listnav.jpg) 0 -40px;
}

#nav .cont .navbtn li {
  float: left;
}

#nav .cont .navbtn li a {
  display: block;
  width: 60px;
  padding-left: 10px;
  color: #fff;
}

#nav .cont .navbtn li .Mycart {
  width: 150px;
  height: 25px;
  padding-left: 45px;
  color: #333;
  position: relative;
}

#nav .cont .navbtn li .Mycart em {
  color: #C8012C;
  font-weight: bold;
  margin: 0 2px;
}

#nav .cont .navbtn li .Mycart i {
  display: inline-block;
  padding-left: 10px;
  vertical-align: 20%;
}

#main .pos {
  padding: 12px 0 0 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

#main .pos li {
  float: left;
}

#main .pos li a {
  display: block;
  font-size: 12px;
  line-height: 32px;
  color: #666;
}

#main .pos li:hover a {
  color: #0066FF;
}

#main .detail .fangdajing {
  width: 30%;
}

#main .detail .fangdajing p {
  width: 350px;
  padding: 20px 0;
}

#main .detail .fangdajing p a {
  display: inline-block;
  float: left;
  color: #3366CC;
}

#main .detail .fangdajing p em {
  padding-left: 100px;
}

#main .detail .fangdajing p span {
  display: inline-block;
  float: right;
}

#main .detail .fangdajing p span i {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url(../img/details_icon.jpg) no-repeat 0 0;
}

#main .detail .fangdajing p span i:nth-child(2) {
  background-position: 0 -16px;
}

#main .detail .fangdajing p span i:nth-child(3) {
  background-position: 0 -32px;
}

#main .detail .fangdajing p span i:nth-child(4) {
  background-position: 0 -48px;
}

#main .goods {
  padding: 4px 0 0 18px;
  width: 70%;
  font-size: 12px;
}

#main .goods .tit {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
}

#main .goods .shortname {
  color: #666;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px dashed #CCC;
}

#main .goods .price span {
  display: inline-block;
  line-height: 46px;
}

#main .goods .price span em {
  font-size: 22px;
  color: #C7012C;
}

#main .goods .price span em i {
  font-size: 16px;
}

#main .goods .price span:first-child {
  float: left;
}

#main .goods .price span:last-child {
  float: right;
  color: #999999;
  font-size: 12px;
}

#main .goods .jifen {
  padding-bottom: 16px;
  border-bottom: 1px dashed #CCCCCC;
}

#main .goods .jifen a {
  color: #3366CC;
}

#main .goods .tips {
  padding-top: 12px;
  font-size: 12px;
  line-height: 20px;
}

#main .goods .tips span {
  color: #C7012C;
}

#main .goods .kucun {
  height: 26px;
  padding: 20px 0;
}

#main .goods .kucun .province {
  display: inline-block;
  border: 1px solid #ccc;
  position: relative;
  padding: 0 4px 0 8px;
}

#main .goods .kucun .province i {
  display: inline-block;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  border: 1px solid #ccc;
  float: right;
  margin: 2px 0 0 8px;
}

#main .goods .kucun span {
  color: #C7012C;
}

#main .goods .server {
  line-height: 40px;
}

#main .goods .server a {
  color: #C7012C;
}

#main .goods .comment {
  padding-bottom: 20px;
}

#main .goods .comment em {
  display: inline-block;
  width: 90px;
  height: 16px;
  overflow: hidden;
  background: url(../img/comment.png) no-repeat 0 -16px;
}

#main .goods .comment a {
  color: #3366CC;
}

#main .goods .buy {
  padding: 20px;
  background-color: #F8F8F8;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#main .goods .buy .choose span {
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin-right: 10px;
  background-color: #FFF;
}

#main .goods .buy .choose .color {
  margin-bottom: 30px;
}

#main .goods .buy .choose .ROM {
  margin-bottom: 20px;
}

#main .goods .buy .number .num {
  display: inline-block;
  height: 21px;
  width: 56px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  margin: 0 4px;
  vertical-align: middle;
}

#main .goods .buy .number span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

#main .goods .buy .action {
  margin-top: 20px;
  position: relative;
}

#main .goods .buy .action button {
  width: 140px;
}

#main .goods .buy .action span {
  display: inline-block;
  padding-left: 10px;
  font-size: 14px;
}

#main .goods .buy .action span i {
  color: #FFB923;
}

#main .goods .buy .action span:hover {
  color: #FFB923;
}

#main .goods .buy .action .animate {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C7012C;
  color: #fff;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -330px;
  left: 250px;
  display: none;
}

.Img .bg {
  height: 47px;
  background: url(../img/footer.png) no-repeat;
}

#footer .link {
  padding-top: 20px;
}
